{% extends "base.html" %}

{% block content %}

<h2>Employees</h2>
<a href="/">
<button type="button">
Back To Dashboard
</button>
</a>

<br><br>

<form action="/employee/add" method="post">

    <input type="text" name="name" placeholder="Name" required>

    <input type="email" name="email" placeholder="Email" required>

    <input type="password" name="password" placeholder="Password" required>

    <button type="submit">
        Add Employee
    </button>

</form>

<hr>

<table border="1">

<tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Action</th>
</tr>

{% for emp in employees %}

<tr>

<td>{{ emp.name }}</td>

<td>{{ emp.email }}</td>

<td>{{ emp.role }}</td>

<td>

<a href="/employee/delete/{{ emp.id }}">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}